<mat-card class="p-1">
  <div *ngIf="param !== contentCardItem.districtCode then districtData; else wardData"> </div>

  <ng-template #districtData>
    <mat-card-header class="fz-3 fw-500 py-3 url-dialog"
                     [routerLink]="contentCardItem.districtCode">
      {{contentCardItem.district}}</mat-card-header>
  </ng-template>

  <ng-template #wardData>
    <mat-card-header class="fz-3 fw-500 py-3">
      {{contentCardItem.ward}}</mat-card-header>
  </ng-template>

  <mat-card-content fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutAlign=" end" fxLayoutGap="20px">
      <mat-icon svgIcon="speaker_gray"></mat-icon>
      <div class="status-text text-green fw-500"
           matTooltip="Kết nối"
           [matMenuTriggerFor]="menu">
        <mat-icon class="icon-status">circle</mat-icon>
        <div>{{contentCardItem.speaker_on}}</div>
      </div>
      <div class="status-text text-dark-blue fw-500"
           matTooltip="Đang phát">
        <mat-icon class="icon-status">circle</mat-icon>
        <div>{{contentCardItem.speaker_establish}}</div>
      </div>
      <div class="status-text text-gray fw-500"
           matTooltip="Mất kết nối">
        <mat-icon class="icon-status">circle</mat-icon>
        <div>{{contentCardItem.speaker_off}}</div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign=" end" fxLayoutGap="20px">
      <mat-icon svgIcon="youtube_gray"></mat-icon>
      <div class="status-text text-green fw-500"
           matTooltip="Kết nối">
        <mat-icon class="icon-status">circle</mat-icon>
        <div>{{contentCardItem.video_onl}}</div>
      </div>
      <div class="status-text text-dark-blue fw-500"
           matTooltip="Đang phát">
        <mat-icon class="icon-status">circle</mat-icon>
        <div>{{contentCardItem.video_establish}}</div>
      </div>
      <div class="status-text fw-500 text-gray"
           matTooltip="Mất kết nối">
        <mat-icon class="icon-status">circle</mat-icon>
        <div>{{contentCardItem.video_off}}</div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign=" end" fxLayoutGap="20px">
      <mat-icon svgIcon="transmitter"></mat-icon>
      <div class="status-text text-green fw-500"
           matTooltip="Kết nối">
        <mat-icon class="icon-status">circle</mat-icon>
        <div>{{contentCardItem.transmitter_onl}}</div>
      </div>

      <div class="status-text text-dark-blue fw-500"
           matTooltip="Đang phát">
        <mat-icon class="icon-status">circle</mat-icon>
        <div>{{contentCardItem.transmitter_establish}}</div>
      </div>

      <div class="status-text fw-500 text-gray"
           matTooltip="Mất kết nối">
        <mat-icon class="icon-status">circle</mat-icon>
        <div>{{contentCardItem.transmitter_off}}</div>
      </div>

    </div>
  </mat-card-content>
</mat-card>

<mat-menu #menu="matMenu" style="width: 600px">
  <div class="text-blue fw-500 p-3">Danh sách thiết bị</div>
  <mat-divider></mat-divider>
  <div  *ngFor="let item of contentCardItem.speaker_on_devices" >
    <p>{{item}}</p>

  </div>

</mat-menu>
