.mat-mdc-card {
  box-shadow: none;
  border: solid 1px #08B1BD;
  border-radius: 12px;
}

.status-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: 50px;
  .icon-status {
    font-size: 17px;
    height: 18px;
    width: 18px;
  }
}
.status-text:hover {
  cursor: pointer;
}
