<mat-card class="p-1">
  <div *ngIf="param !== contentCardItem.districtCode then districtData; else wardData"></div>

  <ng-template #districtData>
    <mat-card-header [routerLink]="contentCardItem.districtCode"
                     class="fz-3 fw-500 py-3 url-dialog">
      {{contentCardItem.district}}</mat-card-header>
  </ng-template>

  <ng-template #wardData>
    <mat-card-header class="fz-3 fw-500 py-3">
      {{contentCardItem.ward}}</mat-card-header>
  </ng-template>

  <mat-card-content fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutAlign=" end" fxLayoutGap="40px">
      <mat-icon svgIcon="speaker_gray"></mat-icon>
      <div (click)="openDialog(contentCardItem.speaker_establish_devices,'thiết bị loa','đang phát',area)"
           class="status-text text-dark-blue fw-500"
           matTooltip="Đang phát">
        <mat-icon class="icon-status">circle</mat-icon>
        <div>{{contentCardItem.speaker_establish}}</div>
      </div>
      <div (click)="openDialog(contentCardItem.speaker_on_devices,'thiết bị loa', 'kết nối',area)"
           class="status-text text-green fw-500"
           matTooltip="Kết nối">
        <mat-icon class="icon-status">circle</mat-icon>
        <div>{{contentCardItem.speaker_on}}</div>
      </div>
      <div (click)="openDialog(contentCardItem.speaker_off_devices,'thiết bị loa', 'mất kết nối',area)"
           class="status-text text-gray fw-500"
           matTooltip="Mất kết nối">
        <mat-icon class="icon-status">circle</mat-icon>
        <div>{{contentCardItem.speaker_off}}</div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign=" end" fxLayoutGap="40px">
      <mat-icon svgIcon="youtube_gray"></mat-icon>
      <div (click)="openDialog(contentCardItem.video_establish_devices,'bản tin điện tử', 'đang phát',area)"
           class="status-text text-dark-blue fw-500"
           matTooltip="Đang phát">
        <mat-icon class="icon-status">circle</mat-icon>
        <div>{{contentCardItem.video_establish}}</div>
      </div>
      <div (click)="openDialog(contentCardItem.video_onl_devices,'bản tin điện tử','kết nối', area)"
           class="status-text text-green fw-500"
           matTooltip="Kết nối">
        <mat-icon class="icon-status">circle</mat-icon>
        <div>{{contentCardItem.video_onl}}</div>
      </div>
      <div (click)="openDialog(contentCardItem.video_off_devices,'bản tin điện tử','mất kết nối',area)"
           class="status-text fw-500 text-gray"
           matTooltip="Mất kết nối">
        <mat-icon class="icon-status">circle</mat-icon>
        <div>{{contentCardItem.video_off}}</div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign=" end" fxLayoutGap="40px">
      <mat-icon svgIcon="transmitter"></mat-icon>
      <div (click)="openDialog(contentCardItem.transmitter_establish_devices,'transmitter','đang phát',area)"
           class="status-text text-dark-blue fw-500"
           matTooltip="Đang phát">
        <mat-icon class="icon-status">circle</mat-icon>
        <div>{{contentCardItem.transmitter_establish}}</div>
      </div>

      <div (click)="openDialog(contentCardItem.transmitter_onl_devices,'transmitter','kết nối',area)"
          class="status-text text-green fw-500"
           matTooltip="Kết nối">
        <mat-icon class="icon-status">circle</mat-icon>
        <div>{{contentCardItem.transmitter_onl}}</div>
      </div>

      <div (click)="openDialog(contentCardItem.transmitter_off_devices,'transmitter','mất kết nối',area)"
           class="status-text fw-500 text-gray"
           matTooltip="Mất kết nối">
        <mat-icon class="icon-status">circle</mat-icon>
        <div>{{contentCardItem.transmitter_off}}</div>
      </div>

    </div>
  </mat-card-content>
</mat-card>
