<h1 class="text-blue" matDialogTitle>Tạo bản tin khẩn cấp</h1>

<form #form="ngForm" novalidate>
  <div mat-dialog-content>
    <div>
      <mat-label>Tiêu đề</mat-label>
      <mat-form-field appearance="outline" class="full-width">
        <input #title="ngModel" [(ngModel)]="data.title" matInput
               name="title" placeholder="Tiêu đề bản tin"
               required>
          <mat-error *ngIf="title.errors">Tiêu đề không được để trống</mat-error>

      </mat-form-field>
    </div>
    <div>
      <mat-label>Ghi chú</mat-label>
      <mat-form-field appearance="outline" class="full-width">
        <input #content="ngModel" [(ngModel)]="data.content" matInput
               name="content" placeholder="Ghi chú"
               required>

          <mat-error *ngIf="content.errors">Ghi chú không được để trống</mat-error>

      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="100">
      <div class="full-width" fxLayout="column">
        <mat-label>Bắt đầu</mat-label>
        <ngx-mat-timepicker-field
          [(ngModel)]="data.start"
          [format]="24"
          name="start"></ngx-mat-timepicker-field>
      </div>
      <div class="full-width" fxLayout="column">
        <mat-label>Kết thúc</mat-label>
        <ngx-mat-timepicker-field
          [(ngModel)]="data.end"
          [format]="24"
          name="end"></ngx-mat-timepicker-field>
<!--        <mat-error *ngIf="!isEndTimeValid()" class="mt&#45;&#45;2">Thời gian kết thúc không hợp lệ</mat-error>-->
      </div>
    </div>

    <div>
      <div fxLayout="row" fxLayoutAlign=" center">
        <div (click)="displayDistrict = !displayDistrict" class="cursor">
          <mat-icon>{{displayDistrict ? 'expand_more' : 'chevron_right'}}</mat-icon>
        </div>
        <mat-checkbox
          (change)="selectAllChanged()"
          [checked]="this.cityData[0]?.check"
          [indeterminate]="someChecked(cityData[0])"
        >
          {{cityData[0]?.Name}}
        </mat-checkbox>
      </div>

      <div [class.hiddenItem]="!displayDistrict">
        <ul>
          <li *ngFor="let district of cityData[0]?.children; let i = index">
            <div fxLayout="row" fxLayoutAlign=" center">
              <div (click)="district.display = !district.display"
                   *ngIf="district.children.length > 0"
                   class="cursor">
                <mat-icon>{{district.display ? 'expand_more' : 'chevron_right'}}</mat-icon>
              </div>
              <mat-checkbox [(ngModel)]="district.check"
                            (ngModelChange)="districtChanged(district)"
                            [indeterminate]="someChecked(district)"
                            [class.ms-4]="district.children.length === 0"
                            [ngModelOptions]="{standalone: true}">
                {{district?.Name}}
              </mat-checkbox>
            </div>

            <div [class.hiddenItem]="!district.display">
              <ul class="ms-2">
                <li *ngFor="let ward of district.children; let i = index">
                  <mat-checkbox (ngModelChange)="wardChanged(ward)"
                                [(ngModel)]="ward.check"
                                [ngModelOptions]="{standalone: true}"
                                required>
                    {{ward?.Name}}
                  </mat-checkbox>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>

    </div>

    <!--    Chọn nguồn phát-->

    <div class="mt-2" [fxLayout]="selected !==4 ? 'row' : 'column'"
         [fxLayoutGap] = "selected !==4 ? '30' : 0">
      <!--      Nguồn phát-->
      <div class="full-width" fxLayout="column">
        <mat-label>Chọn nguồn phát</mat-label>
        <mat-form-field appearance="outline" class="full-width">
          <mat-select (selectionChange)="select($event)" name="source"
                      placeholder=" Chọn nguồn phát ">
            <mat-option *ngFor="let item of sourceData.subtasks" [value]="item.value">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="selected !== -1"
           [ngSwitch]="selected" class="full-width" fxLayout="column" >
        <!--      Transmiiter-->
        <ng-container *ngSwitchCase="1">
          <mat-label>Transmitter</mat-label>
          <mat-form-field appearance="outline">
            <mat-select placeholder=" Chọn transmitter">
              <mat-option *ngFor="let item of transmitterData" [value]="item">
                {{item}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>

        <ng-container *ngSwitchCase="3">
          <div class="text-gray">File âm thanh</div>
          <div fxLayout="row" fxLayoutGap="10">
            <audio *ngIf="audSrc" controls fxFlex="80">
              <source [src]="audSrc" type="audio/ogg">
              <source [src]="audSrc" type="audio/mpeg">
              <source [src]="audSrc" type="audio/wav">
            </audio>
            <input #fileUpload (change)="onFileSelected($event)"
                   class="file-input" type="file" accept="audio/*" >

            <button (click)="fileUpload.click()" class="btn-blue"
                    mat-icon-button>
              <mat-icon class="fz-3">attach_file</mat-icon>
            </button>

          </div>
        </ng-container>

        <ng-container *ngSwitchCase="4">
          <div fxLayout="column" fxLayoutGap="20">
            <div fxLayout="column">
              <mat-label>Văn bản</mat-label>
              <mat-form-field appearance="outline" style="height: 200px">
              <textarea style="height: 160px"
                        matInput name="text"
                        [(ngModel)]="textToSpeechData.text"
                        #text="ngModel"
                        placeholder="Nội dung văn bản"
                        required></textarea>
                <mat-error *ngIf="text.errors">Tiêu đề không được để trống</mat-error>
              </mat-form-field>
            </div>

            <div class="full-width" fxLayout="column">
              <mat-label>Chất giọng</mat-label>
              <mat-form-field appearance="outline" class="full-width">
                <mat-select  name="voice"
                             placeholder=" Chọn chất giọng">
                  <mat-option *ngFor="let item of voiceData"
                              [value]="item.value">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>


        </ng-container>

        <!--        <ng-container *ngSwitchCase="5">-->
        <!--          <mat-label> Tiếp âm</mat-label>-->
        <!--          <mat-form-field appearance="outline">-->
        <!--            <mat-select placeholder="Chọn tiếp âm">-->
        <!--              <mat-option *ngFor="let item of relayData" [value]="item">-->
        <!--                {{item}}-->
        <!--              </mat-option>-->
        <!--            </mat-select>-->
        <!--          </mat-form-field>-->
        <!--        </ng-container>-->
      </div>
    </div>
  </div>
  <div class="mt-1 px-4 py-3" mat-dialog-actions>
    <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Hủy</button>
    <span fxFlex></span>
    <button mat-raised-button class="btn-blue" [disabled]="form.invalid" (click)="save()">Lưu</button>
  </div>
</form>


