
.mdc-form-field>label {
  padding-left: 0 !important;
}
.box {
  padding: 10px;
  border: solid 1px #08B1BD;
  border-radius: 5px;
}
:host ::ng-deep .mat-expansion-panel-header:hover {
  background: #FFFFFF !important;
  border-right: none !important;
  color: unset !important;
}

:host ::ng-deep .mat-expansion-panel-header {
  background: #FFFFFF !important;
  border-right: none !important;
  font-size: 18px;
  font-weight: 500;
  .mat-expansion-panel-header-title {
    color: #08B1BD !important;
  }
}

:host ::ng-deep.angular-tree-component {
  color: #000000;
}

:host ::ng-deep.node-wrapper {
  display: flex;
  align-items: flex-start;
}


ul {
  list-style-type: none;
  margin-top: 4px;
}
