<div fxLayout="row" fxLayoutAlign="space-between center">
  <h1 matDialogTitle class="text-blue">Tạo bản tin khẩn cấp</h1>
  <button class="me-2" mat-icon-button color="warn" (click)="dialogRef.close(false)">
    <mat-icon>close</mat-icon>
  </button>
</div>
<form (ngSubmit)="save()" novalidate #form="ngForm">
  <div mat-dialog-content>
    <div>
      <mat-label>Tiêu đề</mat-label>
      <mat-form-field class="full-width" appearance="outline">
        <input matInput placeholder="Tiêu đề bản tin">
      </mat-form-field>
    </div>
    <div>
      <mat-label>Ghi chú</mat-label>
      <mat-form-field class="full-width" appearance="outline">
        <input matInput placeholder="Nội dung">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="100">
      <div fxLayout="column" class="full-width">
        <mat-label>Bắt đầu</mat-label>
        <ngx-mat-timepicker-field
          [format]="24"
          [defaultTime]="currentTime"></ngx-mat-timepicker-field>
      </div>
      <div fxLayout="column" class="full-width">
        <mat-label>Kết thúc</mat-label>
        <ngx-mat-timepicker-field
          [format]="24"
          [defaultTime]="currentTime"></ngx-mat-timepicker-field>
      </div>
    </div>

    <tree-root [nodes]="nodeItem" [options]="treeOptions"></tree-root>

    <div [fxLayout]="selected===4 ? 'column' : 'row'" fxLayoutGap="30">
      <!--      Nguồn phát-->
      <div fxLayout="column" class="full-width mt-2">
        <mat-label>Chọn nguồn phát</mat-label>
        <mat-form-field class="full-width" appearance="outline">
          <mat-select name="source" (selectionChange)="select($event)"
                      placeholder=" Chọn nguồn phát ">
            <mat-option *ngFor="let item of sourceData.subtasks" [value]="item.value">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="selected !== -1"
           [ngSwitch]="selected" fxLayout="column" class="full-width">
        <!--      Transmiiter-->
        <ng-container *ngSwitchCase="1">
          <mat-label>Transmitter</mat-label>
          <mat-form-field appearance="outline">
            <mat-select placeholder=" Chọn transmitter">
              <mat-option *ngFor="let item of transmitterData" [value]="item">
                {{item}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>

        <!--         Thư viện-->
        <ng-container *ngSwitchCase="2">
          <mat-label>Thư viện</mat-label>
          <mat-form-field appearance="outline">
            <mat-select placeholder="Thư viện">
              <mat-option *ngFor="let item of libraryData" [value]="item">
                {{item}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>

        <ng-container *ngSwitchCase="3">
          <div class="text-gray">File âm thanh</div>
          <div fxLayout="row" fxLayoutGap="10">
            <audio fxFlex="80" controls *ngIf="audSrc">
              <source [src]="audSrc" type="audio/ogg">
              <source [src]="audSrc" type="audio/mpeg">
              <source [src]="audSrc" type="audio/wav">
            </audio>
            <input type="file" class="file-input"
                   (change)="onFileSelected($event)" #fileUpload>
            <button mat-icon-button class="btn-blue"
                    (click)="fileUpload.click()">
              <mat-icon class="fz-3">attach_file</mat-icon>
            </button>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="4">
          <div fxLayout="column">
            <mat-label> Văn bản</mat-label>
            <mat-form-field appearance="outline" style="height: 100px">
              <textarea matInput placeholder="Nội dung văn bản"></textarea>
            </mat-form-field>
          </div>

          <div fxLayout="column" class="full-width">
            <mat-label>Chất giọng</mat-label>
            <mat-form-field class="full-width" appearance="outline">
              <mat-select placeholder=" Chọn chất giọng">
                <mat-option [value]="0">Giọng nam miền Bắc</mat-option>
                <mat-option [value]="1">Giọng nữ miền Bắc</mat-option>
                <mat-option [value]="2">Giọng nam miền Trung</mat-option>
                <mat-option [value]="3">Giọng nữ miền Trung</mat-option>
                <mat-option [value]="4">Giọng nam miền Nam</mat-option>
                <mat-option [value]="5">Giọng nữ miền Nam</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </ng-container>

        <ng-container *ngSwitchCase="5">
          <mat-label> Tiếp âm</mat-label>
          <mat-form-field appearance="outline">
            <mat-select placeholder="Chọn tiếp âm">
              <mat-option *ngFor="let item of relayData" [value]="item">
                {{item}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </div>
    </div>

  </div>
  <div mat-dialog-actions class="mt-1 px-4 py-3">
    <button mat-raised-button class="btn-blue" [disabled]="form.invalid">Lưu</button>
    <span fxFlex></span>
    <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Hủy</button>
  </div>
</form>


