
.mat-column-area {
  width: 200px;
}
.mat-column-play_time, .mat-column-request_duration {
  text-align: center;
}
.mat-column-urgent_bulletin, .mat-column-news {
  width: 200px;
  text-align: center;
}
