.mat-column-count, .mat-column-radionode, .mat-column-play_successful {
  text-align: center;
  //width: 250px;
}
.mat-column-stt {
  width: 70px;
  padding-left: 20px;
  //padding-right: 24px;
  text-align: left;
}
.mat-column-district {
  padding-left: 40px;
}
.mat-footer-cell {
  font-weight: bold;
}
