.mat-column-speaker, .mat-column-video, .mat-column-transmitter, .mat-column-type,
.mat-column-createDate, .mat-column-status, .mat-column-position, .mat-column-agencies{
  text-align: center;
}
 .mat-column-ward, .mat-column-city{
  width: 160px;
}
.mat-column-district {
  width: 180px;
}

#map {
  height: 700px;
  z-index: 9;
  width: 100%;
}

:host ::ng-deep.leaflet-popup-content {
  width: 600px !important;
  table {
    border-collapse: collapse;
    width: 100%;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }

}

/*
::ng-deep.leaflet-container img.leaflet-tile {
  mix-blend-mode: unset !important;
}
*/
