.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
  border-color: #FFFFFF !important;
}


.mat-column-name {
  padding-left:50px ;
  width: 250px;
}
.mat-column-speaker, .mat-column-video, .mat-column-transmitter,
.mat-column-c_endpointtype, .mat-column-createDate, .mat-column-status, .mat-column-position, .mat-column-agencies{
  text-align: center;
}
.mat-column-city, .mat-column-district, .mat-column-ward {
  width: 150px;
}




