<router-outlet></router-outlet>
<div class="p-5" fxLayout="column" fxLayoutGap="30px">
  <div fxLayout="row wrap" fxLayoutAlign="space-around stretch" fxLayoutGap="30px"
       fxLayout.xs="column">
    <div *ngFor="let item of overviewData"
         fxFlex="23"
         class="full-width">
      <app-overview-card [title]="item.name_display"
                         [count]="item.total"
                         [icon]="item.icon">
      </app-overview-card>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign=" stretch" fxLayoutGap="30px">
    <mat-card fxFlex="30"  style="height: auto">
      <app-news-card [newsData]="newsData"></app-news-card>
    </mat-card>
    <div fxFlex="70">
      <mat-card class="p-5" style="height: 100%;">
        <p class="text-blue fz-3 fw-500">Loại bản tin</p>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="55" class="mat-elevation-z2 bg-white py-5" fxLayout="column"
               fxLayoutAlign="space-between stretch">
            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef> STT</th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Lĩnh vực</th>
                <td mat-cell *matCellDef="let element; let i = index;">
                  <div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="10">
                    <div>
                      <mat-icon class="color-{{i}}">stop</mat-icon>
                    </div>
                    <div class="py-2">{{element.name}}</div>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="count">
                <th mat-header-cell *matHeaderCellDef> Số lượng</th>
                <td mat-cell *matCellDef="let element"> {{element.count}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;"
                  [ngClass]="{'bg-table': even}"></tr>

            </table>
            <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="30">
              <div>Số bản ghi của bảng là: {{dataSource.data.length}}</div>
              <mat-paginator [hidePageSize]="true" [pageSizeOptions]="[4]"
                             #paginatorRef></mat-paginator>
            </div>

          </div>
          <div fxFlex="45" style="
              display: flex;
              justify-content: center;
              align-items: center;">
            <canvas id="canvas">{{chart}}</canvas>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <mat-card class="p-4" fxLayout="column" fxLayoutAlign="space-around strecth" fxLayoutGap="30">

    <div *ngIf="!param then districtData; else wardData"> </div>

    <ng-template #districtData>
      <div class="text-blue fz-3 fw-500">{{ title_country | replaceStr}}</div>
    </ng-template>

    <ng-template #wardData >
      <div fxLayout="row" fxLayoutGap="10">
        <a class="text-blue fz-3 fw-500"
           [routerLink]="['/dashboard']">{{ title_country | replaceStr}}</a>
        <span>&#47;</span>
        <span class="text-blue fz-3 fw-500">{{title_district}}</span>
      </div>

    </ng-template>

    <div class="parent">
      <div class="child" *ngFor="let item of installData">
        <app-content-card [contentCardItem]="item"></app-content-card>
      </div>
    </div>
  </mat-card>
</div>
