<div class="p-5" fxLayout="column" fxLayoutGap="30px">
  <div fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap="30px">
    <div class="full-width" *ngFor="let item of overviewData">
      <app-overview-card [title]="item.name_display"
                         [count]="item.total"
                         [icon]="item.icon"
      >
      </app-overview-card>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign=" stretch" fxLayoutGap="30px">
    <mat-card fxFlex="30" class="p-1" >
      <app-news-card [newsData]="newsData"></app-news-card>
    </mat-card>
    <div fxFlex="70">
      <mat-card class="py-3 px-5" style="height: 100%;">
        <p class="text-blue fz-3 fw-500">Loại bản tin</p>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="40" class="mat-elevation-z2 bg-white" fxLayout="column" fxLayoutAlign="space-between stretch">
            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="stt">
                <th mat-header-cell *matHeaderCellDef> STT</th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Lĩnh vực</th>
                <td mat-cell *matCellDef="let element; let i = index;">
                  <div fxLayout="row" fxLayoutAlign=" center">
                    <mat-icon class="color-{{i}}">stop</mat-icon>
                    <div>{{element.name}}</div>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="count">
                <th mat-header-cell *matHeaderCellDef> Số lượng </th>
                <td mat-cell *matCellDef="let element"> {{element.count}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;"
                  [ngClass]="{'bg-table': even}"></tr>
            </table>

          </div>
          <div fxFlex="60" style="
              display: flex;
              justify-content: center;
              align-items: center;">
            <canvas id="canvas">{{chart}}</canvas>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <mat-card class="p-4" fxLayout="column" fxLayoutAlign="space-around strecth" fxLayoutGap="30">
    <div class="text-blue fz-3 fw-500">{{param ? (param | replaceStr) : (title_country | replaceStr)  }}</div>
    <div class="parent">
      <div class="child" *ngFor="let item of installData">
        <app-content-card [district]="param ? (item.ward)  : (item.district )"
                          [speaker_establish]="item.speaker_establish"
                          [speaker_on]="item.speaker_on"
                          [speaker_off]="item.speaker_off"
                          [video_onl]="item.video_onl"
                          [video_establish]="item.video_establish"
                          [video_off]="item.video_off"
                          [transmitter_off]="item.transmitter_off"
                          [transmitter_onl]="item.transmitter_onl"
                          [transmitter_establish]="item.transmitter_establish"
                          [routerLink]="[ item.district]"
                          [ngClass]=" param ? '': 'link-active'"
        >
        </app-content-card>
      </div>
    </div>
  </mat-card>
</div>
