.parent {
  display: flex;
  flex-wrap: wrap;
  gap:30px
}

.child {
  width: 23%;
}

.mat-column-count, .mat-column-stt {
  text-align: center;
}
.mat-column-count {
  width: 100px;
}

.color{
  &-0{
    color: #2155CD;
  }
  &-1 {
    color: #009EFF;
  }
  &-2 {
    color: #00E7FF;
  }
  &-3 {
    color: #00FFF6;
  }
  &-4 {
    color: #0B1BFF;
  }
}
a:hover{
  text-decoration: underline;
}
