<h1 matDialogTitle class="text-blue">Đổi mật khẩu</h1>
<form (ngSubmit)="save()" novalidate [formGroup]="changePasswordForm" >
  <div mat-dialog-content fxLayout="column" >
    <div class="full-width">
      <mat-label>Mật khẩu hiện tại</mat-label>
      <mat-form-field class="full-width" appearance="outline">
        <input
          matInput
          [type]="hide1 ? 'password' : 'text'"
          formControlName="password"
          autocomplete="off"
          placeholder="Nhâp mật khẩu hiện tại"
        >
        <button type="button" matSuffix (click)="hide1 = !hide1">
          <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-error *ngIf="changePasswordForm.controls['password'].touched &&  changePasswordForm.controls['password'].hasError('minlength')">
       Mật khẩu phải từ 6 kí tự
      </mat-error>
    </div>
    <div class="full-width">
      <mat-label>Mật khẩu mới</mat-label>
      <mat-form-field  class="full-width" appearance="outline">
        <input
          matInput
          [type]="hide2 ? 'password' : 'text'"
          formControlName="new_password"
          autocomplete="off"
          (change)="comparePassword()"
          placeholder="Nhập mật khẩu mới"
        >
        <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2">
          <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-error *ngIf="changePasswordForm.controls['new_password'].touched && changePasswordForm.controls['new_password'].hasError('minlength')">
        Mật khẩu phải từ 6 kí tự
      </mat-error>
      <mat-error *ngIf="changePasswordForm.controls['new_password'].touched && changePasswordForm.controls['new_password'].hasError('notEqual')">
        Mật khẩu mới không trùng mật khẩu hiện tại
      </mat-error>
    </div>
    <div class="full-width">
      <mat-label>Xác nhận lại mật khẩu</mat-label>
      <mat-form-field class="full-width" appearance="outline">
        <input
          matInput
          [type]="hide3 ? 'password' : 'text'"
          formControlName="confirm_password"
          autocomplete="off"
          (change)="confirmPassword()"
          placeholder="{{'Xác nhận mật khẩu'}}"
        >
        <button type="button" mat-icon-button matSuffix (click)="hide3 = !hide3">
          <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-error *ngIf="changePasswordForm.controls['confirm_password'].hasError('mismatch')">
        Xác nhận mật khẩu không trùng khớp
      </mat-error>
    </div>

    <div mat-dialog-actions>
      <button mat-raised-button class="btn-blue" [disabled]="changePasswordForm.invalid">Lưu</button>
      <span fxFlex></span>
      <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Hủy</button>
    </div>
  </div>
</form>
