<div fxLayout="row" fxLayoutGap="20">
  <h1 matDialogTitle class="text-blue">Thông tin phát sóng</h1>
</div>
<div mat-dialog-content fxLayout="column" fxLayoutGap="10">
  <div fxLayout="row" fxLayoutGap="5">
    <div class="text-blue fw-500"> Đối tượng:</div>
    <div class="text-gray">Kinh tế</div>
  </div>
  <div fxLayout="row" fxLayoutGap="5">
    <div class="text-blue fw-500"> Thời gian:</div>
    <div class="text-gray">Từ ngày 10-04-2023 đến ngày 17-04-2023</div>
  </div>

  <div>
    <div class="text-blue fw-500">Nội dung</div>
    <div class="mat-elevation-z2 bg-white mt-2" fxLayout="column" fxLayoutAlign="space-between stretch">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef> STT</th>
          <td mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="content">
          <th mat-header-cell *matHeaderCellDef>Nội dung</th>
          <td mat-cell *matCellDef="let element"> {{element.content}} </td>
        </ng-container>

        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>Thời gian</th>
          <td mat-cell *matCellDef="let element"> {{element.time}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
        <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumn;"
            [ngClass]="{'bg-table': even}"></tr>
      </table>
      <div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="mt-1" align="end">
    <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Hủy</button>
  </div>
</div>
