.mat-column-count, mat-column-stt {
  text-align: center;
}
.color{
  &-0{
    color: #2155CD;
  }
  &-1 {
    color: #009EFF;
  }
  &-2 {
    color: #00E7FF;
  }
  &-3 {
    color: #00FFF6;
  }
  &-4 {
    color: #0B1BFF;
  }
}
