//.mat-column-url {
//  width: 400px;
//}
.mat-column-listens, .mat-column-status, .mat-column-url, .mat-column-type {
  text-align: center;
}

.mat-column-schedule{
  width: 100px;
  text-align: center;
  padding-right: 50px;
}

.mat-column-name, .mat-column-type, .mat-column-schedule, .mat-column-listens {
  width: 200px;
}
