<router-outlet></router-outlet>
<div class="p-5" fxLayout="column" fxLayoutGap="30px">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <a mat-raised-button class="btn-blue" routerLink="./add"> Tạo mới </a>
    </div>
    <mat-form-field class="text-blue" appearance="outline">
      <input matInput (keyup)="onSearch($event)" placeholder="Từ khóa">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

  </div>
  <div class="mat-elevation-z2 bg-white" fxLayout="column" fxLayoutAlign="space-between stretch">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef> STT</th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{ (paginatorRef.pageIndex * paginatorRef.pageSize) + (i + 1) }} </td>
      </ng-container>

      <ng-container matColumnDef="ward">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phường/Xã</th>
        <td mat-cell *matCellDef="let element"> {{element.ward | replaceStr}} </td>
      </ng-container>
      <ng-container matColumnDef="district">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Quận/Huyện</th>
        <td mat-cell
            *matCellDef="let element">{{element.district | replaceStr}}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Loại</th>
        <td mat-cell
            *matCellDef="let element">{{element.type}}</td>
      </ng-container>


      <ng-container matColumnDef="schedule">
        <th mat-header-cell *matHeaderCellDef> Lịch</th>
        <td mat-cell *matCellDef="let element">
          <a mat-icon-button mat-sm-button class="text-blue"
             [routerLink]="['./schedule', element.id]">
            <mat-icon>event</mat-icon>
        </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Trạng thái</th>
        <td mat-cell *matCellDef="let element" [ngSwitch]="element.status">
          <div *ngSwitchCase="'RS01'">Chờ phát thanh</div>
          <div *ngSwitchCase="'RS02'">Bắt đầu phát thanh</div>
          <div *ngSwitchCase="'RS03'">Đang phát</div>
          <div *ngSwitchCase="'RS04'">Tạm dừng</div>
          <div *ngSwitchCase="'RS05'">Kết thúc</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef>URL</th>
        <td mat-cell *matCellDef="let element">
          <a  href="{{element.url}}" target="_blank">{{element.url}}</a> </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Hành động</th>
        <td mat-cell *matCellDef="let element">
          <a (click)="element.pause = !element.pause"  matTooltip="Tạm dừng">
            <mat-icon class="text-orange">{{element.pause ? 'pause' : 'play_arrow'}}</mat-icon>
          </a>
          <a mat-icon-button mat-sm-button class="text-blue"
             matTooltip="Chỉnh sửa"
             [routerLink]="['./edit', element.id]">
            <mat-icon>edit</mat-icon>
          </a>
          <button mat-icon-button mat-sm-button color="warn"  (click)="deleteItem(element)"
                  matTooltip="Xóa">
            <mat-icon>delete</mat-icon>
          </button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
      <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumn;"
          [ngClass]="{'bg-table': even}"></tr>
    </table>

    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="30">
      <div >Số bản ghi của bảng là: {{dataSource.data.length}}</div>
      <mat-paginator [hidePageSize]="true" [pageSizeOptions]="[9]"
                     #paginatorRef></mat-paginator>
    </div>

  </div>
</div>
