.mat-column-actions, .mat-column-type,.mat-column-agency, .mat-column-location {
  text-align: center;
}

.mat-column-title {
  width: 300px;
}

.mat-column-url {
  width: 350px;
}

td {
  a:hover {
    color: #08B1BD;
    text-decoration: underline;
  }
}
