<div fxLayout="row" fxLayoutAlign="space-between center">
  <h1 class="text-blue" matDialogTitle>Lịch phát sóng</h1>
  <button (click)="dialogRef.close(false)" class="me-2" color="warn" mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</div>

<form #form="ngForm" (ngSubmit)="save()" novalidate>
  <div mat-dialog-content>
    <div fxLayout="column" fxLayoutGap="20">
      <div fxLayout="row" fxLayoutGap="20">
        <div class="full-width">
          <mat-label>Từ ngày</mat-label>
          <mat-form-field appearance="outline" class="full-width">
            <input [matDatepicker]="pickerFrom"
                   [ngModel]="data.start" matInput name="start"
                   readonly>
            <mat-datepicker-toggle [for]="pickerFrom" matIconSuffix></mat-datepicker-toggle>
            <mat-datepicker #pickerFrom></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="full-width">
          <mat-label>Đến ngày</mat-label>
          <mat-form-field appearance="outline" class="full-width">
            <input [matDatepicker]="pickerTo"
                   [ngModel]="data.end" matInput name="end"
                   readonly>
            <mat-datepicker-toggle [for]="pickerTo" matIconSuffix></mat-datepicker-toggle>
            <mat-datepicker #pickerTo></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <mat-expansion-panel [expanded]="data.h1_start !==''">
        <mat-expansion-panel-header>
          <mat-panel-title class="text-blue fz-2 fw-400 my-2">
            Khung giờ
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="mb-2" fxLayout="column" fxLayoutGap="30">
          <div fxLayout="row" fxLayoutGap="30">
            <div *ngIf="data.h1_start"
                 class="full-width" fxLayout="column">
              <mat-label>Giờ từ</mat-label>
              <ngx-mat-timepicker-field
                [(ngModel)]="data.h1_start" [format]="24"
                name="h1_start"
              ></ngx-mat-timepicker-field>
            </div>
            <div *ngIf="data.h1_end"
                 class="full-width" fxLayout="column">
              <mat-label>Đến</mat-label>
              <ngx-mat-timepicker-field
                [(ngModel)]="data.h1_end"
                [format]="24"
                name="h1_end"></ngx-mat-timepicker-field>
            </div>
          </div>

          <div *ngIf="data.h2_start"
               fxLayout="row" fxLayoutGap="30">
            <div class="full-width" fxLayout="column">
              <mat-label>Giờ từ</mat-label>
              <ngx-mat-timepicker-field
                [(ngModel)]="data.h2_start"
                [format]="24"
                name="h2_start"></ngx-mat-timepicker-field>
            </div>
            <div *ngIf="data.h2_end"
                 class="full-width" fxLayout="column">
              <mat-label>Đến</mat-label>
              <ngx-mat-timepicker-field
                [(ngModel)]="data.h2_end"
                [format]="24"
                name="h2_end"></ngx-mat-timepicker-field>
            </div>
          </div>

          <div *ngIf="data.h3_start"
               fxLayout="row" fxLayoutGap="30">
            <div class="full-width" fxLayout="column">
              <mat-label>Giờ từ</mat-label>
              <ngx-mat-timepicker-field
                [(ngModel)]="data.h3_start"
                [format]="24"
                name="h3_start"></ngx-mat-timepicker-field>
            </div>
            <div *ngIf="data.h3_end"
                 class="full-width" fxLayout="column">
              <mat-label>Đến</mat-label>
              <ngx-mat-timepicker-field
                [(ngModel)]="data.h3_end"
                [format]="24"
                name="h3_end"></ngx-mat-timepicker-field>
            </div>
          </div>

          <div *ngIf="data.h4_start"
               fxLayout="row" fxLayoutGap="30">
            <div class="full-width" fxLayout="column">
              <mat-label>Giờ từ</mat-label>
              <ngx-mat-timepicker-field
                [(ngModel)]="data.h4_start"
                [format]="24"
                name="h4_start"></ngx-mat-timepicker-field>
            </div>
            <div *ngIf="data.h4_end"
                 class="full-width" fxLayout="column">
              <mat-label>Đến</mat-label>
              <ngx-mat-timepicker-field
                [(ngModel)]="data.h4_end"
                [format]="24"
                name="h4_end"></ngx-mat-timepicker-field>
            </div>
          </div>

          <div *ngIf="data.h5_start"
               fxLayout="row" fxLayoutGap="30">
            <div class="full-width" fxLayout="column">
              <mat-label>Giờ từ</mat-label>
              <ngx-mat-timepicker-field
                [(ngModel)]="data.h5_start"
                [format]="24"
                name="h5_start"></ngx-mat-timepicker-field>
            </div>
            <div *ngIf="data.h5_end"
                 class="full-width" fxLayout="column">
              <mat-label>Đến</mat-label>
              <ngx-mat-timepicker-field
                [(ngModel)]="data.h5_end"
                [format]="24"
                name="h5_end"></ngx-mat-timepicker-field>
            </div>
          </div>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="data.h1_start !==''">
        <mat-expansion-panel-header>
          <mat-panel-title class="text-blue fz-2 fw-400 my-2">
            Ngày trong tuần
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div *ngFor="let item of week_day">
            <mat-checkbox [checked]="item.checked" disabled
                          name="week_day">{{item.name}}</mat-checkbox>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="data.repeat_month_day.length>0">
        <mat-expansion-panel-header>
          <mat-panel-title class="text-blue fz-2 fw-400 my-2">
            Ngày trong tháng
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="row wrap" fxLayoutAlign=" center">
          <div *ngFor="let item of days">
            <mat-checkbox [checked]="item.checked" disabled
                          name="week_day">{{item.display}}</mat-checkbox>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="data.repeat_month_year.length>0">
        <mat-expansion-panel-header>
          <mat-panel-title class="text-blue fz-2 fw-400 my-2">
            Tháng
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="row wrap" fxLayoutGap="20">
          <div *ngFor="let item of months">
            <mat-checkbox [checked]="item.checked" disabled
                          name="month">{{item.name}}</mat-checkbox>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
  <div align="end" class="mt-1 px-4 py-3" mat-dialog-actions>
    <button (click)="dialogRef.close(false)" color="warn" mat-button type="button">Hủy</button>
  </div>
</form>


