<div class="bg-white p-3 px-5 text-blue" fxLayout="column" fxLayoutGap="10px">
<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutGap="20px">
    <img src="assets/logo/vtc.svg">
    <div fxLayout="column" fxLayoutGap="10px">
      <div class="fw-600">CÔNG TY CỔ PHẦN VIỄN THÔNG VTC</div>
      <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="10px">
        <mat-icon>fmd_good</mat-icon>
        <div>750 (lầu 3) Điện Biên Phủ, Phường 11, Quận 10, TP.HCM</div>
      </div>
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="10px">
          <mat-icon>phone</mat-icon>
          <div>(+84.28) 38331106</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="10px">
          <mat-icon>fax</mat-icon>
          <div>(+84.28) 38300253</div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutAlign="center end" fxLayoutGap="10px">
      <button class="btn-blue" mat-flat-button>Liên hệ</button>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Từ khóa">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <img src="assets/logo/vnpt.svg">
  </div>
</div>
<mat-divider class="bg-blue"></mat-divider>
  <div class="text-center">Copyright VTC TELECOM © 2023</div>
</div>
