<div fxLayout="row" fxLayoutAlign="space-between center">
  <h1 matDialogTitle class="text-blue">Chi tiết Khu vực</h1>
  <button class="me-2" mat-icon-button color="warn" (click)="dialogRef.close(false)">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-divider></mat-divider>
<div mat-dialog-content fxLayout="column" fxLayoutGap="30">
  <div *ngFor="let item of data">
    <span class="fw-500">{{item.district_display}}</span>

    <ul *ngFor="let ward of item.value">
      <li>{{ward.ward_display}}</li>
    </ul>
  </div>
</div>


