<h1 class="text-blue" matDialogTitle>Chi tiết Khu vực</h1>
<mat-divider></mat-divider>

<div fxLayout="column" mat-dialog-content>

  <div *ngFor="let item of data">
    <div (click)="item.display = !item.display" *ngIf="item.value.length > 0"
         class="cursor"
         fxLayout="row">
      <mat-icon
        *ngIf="data.length > 1">{{(item.display && data.length > 1) ? 'expand_more' : 'chevron_right'}}</mat-icon>
      <mat-icon *ngIf="data.length === 1">expand_more</mat-icon>
      <p class="fw-500">{{ item.district_display }}</p>
    </div>

    <div *ngIf="data.length === 1 then displayData; else hiddenData"></div>

    <ng-template #displayData>
      <ul class="ms-2 mt--1" style="line-height: 180%">
        <li *ngFor="let ward of item.value; let i = index">
          {{ward.ward_display}}
        </li>
      </ul>
    </ng-template>

    <ng-template #hiddenData>
      <div [class.hiddenItem]="!item.display">
        <ul class="ms-2 mt--1" style="line-height: 180%">
          <li *ngFor="let ward of item.value; let i = index">
            {{ward.ward_display}}
          </li>
        </ul>
      </div>
    </ng-template>
  </div>
</div>
<div mat-dialog-actions class="mt-1" align="end">
  <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Đóng</button>
</div>
