<div fxLayout="row" fxLayoutAlign="space-between center">
  <h1 matDialogTitle class="text-blue">Chi tiết Khu vực</h1>
  <button class="me-2" mat-icon-button color="warn" (click)="dialogRef.close(false)">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-divider></mat-divider>
<div mat-dialog-content fxLayout="column" fxLayoutGap="30">
  <div *ngFor="let item of data">
    <!--    <mat-expansion-panel *ngIf="item.district_display">-->
    <!--      <mat-expansion-panel-header>-->
    <!--        <mat-panel-title class="text-blue fz-2 fw-400 my-2">-->
    <!--          {{item.district_display}}-->
    <!--        </mat-panel-title>-->
    <!--      </mat-expansion-panel-header>-->
    <!--      <ol>-->
    <!--        <div *ngFor="let ward of item.value">-->
    <!--          <li *ngIf="ward.ward_display">-->
    <!--            <p>{{ward.ward_display}}</p>-->
    <!--          </li>-->
    <!--        </div>-->

    <!--      </ol>-->

    <!--    </mat-expansion-panel>-->
    {{item.district_display}}
    <div *ngFor="let ward of item.value">
      <p>{{ward.ward_display}}</p>
    </div>
  </div>
</div>


