<router-outlet></router-outlet>
<div class="px-5 pb-5">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <a mat-raised-button class="btn-blue" routerLink="./add"> Tạo mới </a>
    </div>
    <mat-form-field class="text-blue" appearance="outline">
      <input matInput (keyup)="onSearch($event)" placeholder="Từ khóa">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

  </div>
  <div class="mat-elevation-z2 bg-white full-width"
       fxLayout="column" fxLayoutAlign="space-between stretch">
    <table mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef>STT</th>
        <td mat-cell  *matCellDef="let element; let i = index;">
          {{(paginatorRef.pageIndex * paginatorRef.pageSize) + (i + 1)}}
        </td>
      </ng-container>

      <ng-container matColumnDef="keyword">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Từ khóa</th>
        <td mat-cell *matCellDef="let element"> {{element.keyword}} </td>
      </ng-container>

      <ng-container matColumnDef="warning_content">
        <th mat-header-cell *matHeaderCellDef>Nội dung cảnh báo</th>
        <td mat-cell *matCellDef="let element"> {{element.warning_content}} </td>
      </ng-container>

      <ng-container matColumnDef="method">
        <th mat-header-cell *matHeaderCellDef>Phương thức</th>
        <td mat-cell *matCellDef="let element"> {{element.method}} </td>
      </ng-container>

      <ng-container matColumnDef="warning_level">
        <th mat-header-cell *matHeaderCellDef>Mức cảnh báo</th>
        <td mat-cell *matCellDef="let element">Mức {{element.warning_level}}</td>
      </ng-container>

      <ng-container matColumnDef="receiver">
        <th mat-header-cell *matHeaderCellDef>Nơi nhận </th>
        <td mat-cell *matCellDef="let element" [ngSwitch]="element.receiver">
          <div *ngSwitchCase="'Province'">Tỉnh, thành phố</div>
          <div *ngSwitchCase="'District'">Quận, huyện</div>
          <div *ngSwitchCase="'Ward'">Xã, phường</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Ngắt phát thanh</th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [checked]="element.pause"></mat-checkbox>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;"
          [ngClass]="{'bg-table': even}"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center" colspan="6">Không tìm thấy dữ liệu</td>
      </tr>
    </table>

    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="30">
      <div >Số bản ghi của bảng là: {{dataSource.data.length}}</div>
      <mat-paginator [hidePageSize]="true" [pageSizeOptions]="[15]"
                     #paginatorRef></mat-paginator>
    </div>
  </div>
</div>
