<div class="bg-white py-3 px-3" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="text-blue fz-4 fw-500 px-2">
    HỆ THỐNG THÔNG TIN NGUỒN
    <span *ngIf="(title_country | replaceStr) === 'Hồ Chí Minh'">
      TP. {{title_country | replaceStr | uppercase}}
    </span>
    <span *ngIf="(title_country | replaceStr) !== 'Hồ Chí Minh'">
      TỈNH {{title_country | replaceStr | uppercase}}
    </span>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="30px">
    <mat-icon class="cursor" matBadge="3" matBadgeColor="warn"
              [matMenuTriggerFor]="notificationMenu">
      notifications
    </mat-icon>
    <div fxLayout="row" fxLayoutAlign="space-around center"
         class="cursor" [matMenuTriggerFor]="accountMenu">
      <app-avatar matListItemAvatar [size]="40"></app-avatar>
      <div matListItemTitle fxLayout="row">
        <mat-icon>expand_more</mat-icon>
      </div>
    </div>
  </div>
  <mat-menu #accountMenu>
    <div class="px-3 py-1 fw-500">{{title_country | replaceStr }}</div>
<!--    <menu mat-menu-item>Trang cá nhân</menu>-->
    <menu mat-menu-item [routerLink]="['/', { outlets: { popup: ['change-password'] }}]">Đổi mật khẩu</menu>
    <menu mat-menu-item (click)="logOut()">Đăng xuất</menu>
  </mat-menu>
  <mat-menu #notificationMenu class="notification">
    <div>
      <div class="py-4 px-3"
           fxLayout="row" fxLayoutAlign="space-between center">
        <div class="text-blue fz-3 fw-500 ">Thông báo</div>
        <a class="text-gray view-all fz-1">Xem tất cả</a>
      </div>
      <menu mat-menu-item class="py-1">
        <div fxLayout="row" fxLayoutGap="20" fxLayoutAlign="space-between center">
          <div fxFlex="80">
            <div>Thông báo bản tin</div>
            <p class="text-gray">Bản tin khẩn đã được nhận bởi tất cả các huyện tỉnh Thanh Hóa.</p>
          </div>
          <p fxFlex="20" class="text-gray fz-1">30 phút trước</p>
        </div>
      </menu>
      <menu mat-menu-item class="py-1">
        <div fxLayout="row" fxLayoutGap="20">
          <div fxFlex="80">
            <div>Thông báo lắp đặt</div>
            <p class="text-gray">Hoàn thành việc lắp 3 cụm loa ở huyện Quan Sơn.</p>
          </div>
          <p fxFlex="20" class="text-gray fz-1">32 phút trước</p>
        </div>
      </menu>
      <menu mat-menu-item class="py-1">
        <div fxLayout="row" fxLayoutGap="20">
          <div fxFlex="80">
            <div>Thông báo lịch phát</div>
            <p class="text-gray">Lịch phát huyện Thiệu Hóa đang chuẩn bị phát trong 30 phút tới.</p>
          </div>
          <p fxFlex="20" class="text-gray fz-1">40 phút trước</p>
        </div>
      </menu>
    </div>
  </mat-menu>
</div>
