#notificationMenu {
  width: 400px !important;
}


.mat-mdc-menu-panel.notification {
  max-width: 500px !important;
}

.view-all:hover {
  color: #08B1BD !important;
  text-decoration: underline;
}
.mdc-list-item__primary-text {
  width: 100% !important;
}
