<div class="bg-white py-5 px-3" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="text-blue fz-4 fw-500 px-2">
    HỆ THỐNG THÔNG TIN NGUỒN
    <span *ngIf="(title_country | replaceStr) === 'Hồ Chí Minh'">
      TP. {{title_country | replaceStr | uppercase}}
    </span>
    <span *ngIf="(title_country | replaceStr) !== 'Hồ Chí Minh'">
      TỈNH {{title_country | replaceStr | uppercase}}
    </span>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="30px">
    <mat-icon [matMenuTriggerFor]="notificationMenu"
              class="cursor" matBadge="3"
              matBadgeColor="warn">notifications</mat-icon>

    <div [matMenuTriggerFor]="accountMenu" class="cursor"
         fxLayout="row" fxLayoutAlign="space-around center">
      <app-avatar [size]="40" matListItemAvatar></app-avatar>
      <div fxLayout="row" matListItemTitle>
        <mat-icon>expand_more</mat-icon>
      </div>
    </div>
  </div>
  <mat-menu #accountMenu>
    <div class="px-3 py-1 fw-500">{{title_country | replaceStr }}</div>
    <menu mat-menu-item [routerLink]="['./user-profile']">Trang cá nhân</menu>
    <menu [routerLink]="['/', { outlets: { popup: ['change-password'] }}]" mat-menu-item>Đổi mật khẩu</menu>
    <menu (click)="logOut()" mat-menu-item>Đăng xuất</menu>
  </mat-menu>
  <mat-menu #notificationMenu>
    <div class="notification">
      <div class="pt-4 px-3"
           fxLayout="row" fxLayoutAlign="space-between center">
        <div class="text-blue fz-3 fw-500 ">Thông báo</div>
        <a class="text-gray view-all fz-1">Xem tất cả</a>
      </div>

      <div>
        <div class="text-gray px-3 fz-2 fw-500">MỚI NHẤT</div>
        <div>
          <menu class="py-1" mat-menu-item>
            <div fxLayout="row" fxLayoutGap="15">
              <div fxFlex="75">
                <div class="text-black fz-1 fw-500">Hoàn thành việc lắp 3 cụm loa ở huyện Quan Sơn.</div>
                <div class="text-gray fz-1">{{today | date:"dd/MM/yyyy HH:mm" }}</div>
              </div>
              <div fxLayout="column" fxLayoutAlign="space-between end" fxFlex="25">
                <mat-icon class="fz-0 text-blue">circle</mat-icon>
                <div class="text-gray fz-1">Ngay lúc này</div>
              </div>
            </div>
          </menu>
          <mat-divider></mat-divider>
        </div>

        <div>
          <menu class="py-1" mat-menu-item>
            <div fxLayout="row" fxLayoutGap="15">
              <div fxFlex="75">
                <div class="text-black fz-1 fw-500">Lịch phát huyện Thiệu Hóa đang chuẩn bị phát trong 30 phút tới.</div>
                <div class="text-gray fz-1">{{today | date:"dd/MM/yyyy HH:mm" }}</div>
              </div>
              <div fxLayout="column" fxLayoutAlign="space-between end" fxFlex="25">
                <mat-icon class="fz-0 text-blue">circle</mat-icon>
                <div class="text-gray fz-1">Ngay lúc này</div>
              </div>
            </div>
          </menu>
          <mat-divider></mat-divider>
        </div>
      </div>

      <div>
        <div class="text-gray px-3 fz-2 fw-500">CŨ HƠN</div>
        <div>
          <menu class="py-1" mat-menu-item>
            <div fxLayout="row" fxLayoutGap="15">
              <div fxFlex="75">
                <div class="text-black fz-1 fw-500">Hoàn thành việc lắp 3 cụm loa ở huyện Quan Sơn.</div>
                <div class="text-gray fz-1">{{today | date:"dd/MM/yyyy HH:mm" }}</div>
              </div>
              <div fxLayout="column" fxLayoutAlign="start end" fxFlex="25">
                <p class="text-gray fz-1">40 phút trước</p>
              </div>
            </div>
          </menu>
          <mat-divider></mat-divider>
        </div>

        <div>
          <menu class="py-1" mat-menu-item>
            <div fxLayout="row" fxLayoutGap="15">
              <div fxFlex="75">
                <div class="text-black fz-1 fw-500">Lịch phát huyện Thiệu Hóa đang chuẩn bị phát trong 30 phút tới.</div>
                <div class="text-gray fz-1">{{today | date:"dd/MM/yyyy HH:mm" }}</div>
              </div>
              <div fxLayout="column" fxLayoutAlign="start end" fxFlex="25">
                <p class="text-gray fz-1">40 phút trước</p>
              </div>
            </div>
          </menu>
        </div>
      </div>
    </div>
  </mat-menu>
</div>
