
.view-all:hover {
  color: #08B1BD !important;
  text-decoration: underline;
}
.mdc-list-item__primary-text {
  width: 100% !important;
}
.notification {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mat-mdc-menu-item .mat-icon {
   margin-right: 0
}
